<html>
	<head>
	    <title>Deletar Aluno</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <style>
			body{background-color: #fff8dc;margin: 0;}
			form{display: block; text-align: center; margin: 40px auto; width: 20%;} 
			form > input{display: block;width: 100%;margin: 8px 0;} 
			.options {text-align: center; margin: 15px 0; position: relative;}
			.options input {padding: 5px 20px;background: deepskyblue;border-radius: 15px;color: #fff;text-decoration: none;font-size: 20px;margin: 10px;display: inline-block;border: 0;}
		</style>
	</head>
	<body>
		<form action="/deleteAluno" method="POST" modelAttribute="aluno">
		
			ID:
  			<input type="text" name="id" th:value="${aluno.id}" readOnly="true">
  			Nome:
  			<input type="text" name="nome" th:value="${aluno.nome}" readOnly="true">
  			CPF:
  			<input type="text" name="cpf" th:value="${aluno.cpf}" readOnly="true">
  			Idade:
  			<input type="text" name="idade" th:value="${aluno.idade}" readOnly="true">
  			Altura:
  			<input type="text" name="altura" th:value="${aluno.altura}" readOnly="true">
  			Peso:
  			<input type="text" name="peso" th:value="${aluno.peso}" readOnly="true">
			<div class="options">
				<input type="submit" value="Deletar">
				<input type="button" value="Voltar" onClick="history.go(-1)">
			</div>
		</form>
	</body>
</html>