<html>
	<head>
	    <title>Deletar Exercicio</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <style>
			body{background-color: #fff8dc;margin: 0;}
			form{display: block; text-align: center; margin: 40px auto; width: 20%;} 
			form > input{display: block;width: 100%;margin: 8px 0;} 
			.options {text-align: center; margin: 15px 0; position: relative;}
			.options input {padding: 5px 20px;background: deepskyblue;border-radius: 15px;color: #fff;text-decoration: none;font-size: 20px;margin: 10px;display: inline-block;border: 0;}
		</style>
	</head>
	<body>
		<form action="/deleteExercicio" method="POST" modelAttribute="exercicio">
		
			ID:
  			<input type="text" name="id" th:value="${exercicio.id}" readOnly="true">
  			Nome:
  			<input type="text" name="nome" th:value="${exercicio.nome}" readOnly="true">
			<div class="options">
				<input type="submit" value="Deletar">
				<input type="button" value="Voltar" onClick="history.go(-1)">
			</div>
		</form>
	</body>
</html>