<html>
	<head>
	    <title>Ver Ficha</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<style>
			body{background-color: #fff8dc;margin: 0;}
			form{display: block; text-align: center; margin: 40px auto; width: 20%;} 
			form > input{display: block;width: 100%;margin: 8px 0;}
			.itens{text-align: right; margin-top: 20px;} 
			.options {text-align: center; margin: 15px 0; position: relative;}
			.options input {padding: 5px 20px;background: deepskyblue;border-radius: 15px;color: #fff;text-decoration: none;font-size: 20px;margin: 10px;display: inline-block;border: 0;}
		</style>
	</head>
	<body>
		<form  action="/deleteFicha" method="POST" modelAttribute="ficha">
		
		    ID:
  			<input type="text" name="id" th:value="${ficha.id}" readOnly="true">
  			
  			TipoFicha:
  			<input type="text" name="tipoFicha" th:value="${ficha.tipoFicha}" readOnly="true">
  			
  			Ficha Letra:
  			<input type="text" name="fichaLetra" th:value="${ficha.fichaLetra}" readOnly="true">
  			
  			Aluno:
  			<input type="text" name="aluno"
  			
  			th:each="aluno : ${alunos}"
      				  th:if="${aluno.id} == ${ficha.aluno_id}"
  			
  			 th:value="${aluno.nome}" readOnly="true">
  			
  			
  			Professor:
  			<input type="text" name="professor"
  			
  			th:each="professor : ${professores}"
      				  th:if="${professor.id} == ${ficha.professor_id}"
  			
  			 th:value="${professor.nome}" readOnly="true">
  			
  			
			<div class="itens">
				Item 1:
			  <input type="text" name="itemExercicio1" th:each="itemFicha : ${itensFicha}" 
					th:if="${itemFicha.id} == ${ficha.itemExercicio1_id}"
					th:value="'Exercício:' + ${itemFicha.exercicio_id}" readOnly="true">
									 
				   Series:
				   <input type="text" name="itemExercicio1" th:each="itemFicha : ${itensFicha}" 
				   th:if="${itemFicha.id} == ${ficha.itemExercicio1_id}"
				   th:value="${itemFicha.serie}" readOnly="true">
					
					Repeticao:
					<input type="text" name="itemExercicio1" th:each="itemFicha : ${itensFicha}" 
					th:if="${itemFicha.id} == ${ficha.itemExercicio1_id}"
					th:value="${itemFicha.repeticao}" readOnly="true">
					
					Descanso:
					<input type="text" name="itemExercicio1" th:each="itemFicha : ${itensFicha}" 
					th:if="${itemFicha.id} == ${ficha.itemExercicio1_id}"
					th:value="${itemFicha.descanso}" readOnly="true">
			</div>
			<div class="itens">
				Item 2:
			  <input type="text" name="itemExercicio2" th:each="itemFicha : ${itensFicha}" 
					th:if="${itemFicha.id} == ${ficha.itemExercicio2_id}"
					th:value="'Exercício:' + ${itemFicha.exercicio_id}" readOnly="true">
									 
				   Series:
				   <input type="text" name="itemExercicio2" th:each="itemFicha : ${itensFicha}" 
				   th:if="${itemFicha.id} == ${ficha.itemExercicio2_id}"
				   th:value="${itemFicha.serie}" readOnly="true">
					
					Repeticao:
					<input type="text" name="itemExercicio2" th:each="itemFicha : ${itensFicha}" 
					th:if="${itemFicha.id} == ${ficha.itemExercicio2_id}"
					th:value="${itemFicha.repeticao}" readOnly="true">
					
					Descanso:
					<input type="text" name="itemExercicio2" th:each="itemFicha : ${itensFicha}" 
					th:if="${itemFicha.id} == ${ficha.itemExercicio2_id}"
					th:value="${itemFicha.descanso}" readOnly="true">
			</div>
  				
  			<div class="itens">
				Item 3:
				<input type="text" name="itemExercicio3" th:each="itemFicha : ${itensFicha}" 
					  th:if="${itemFicha.id} == ${ficha.itemExercicio3_id}"
					  th:value="'Exercício:' + ${itemFicha.exercicio_id}" readOnly="true">
									   
					 Series:
					 <input type="text" name="itemExercicio3" th:each="itemFicha : ${itensFicha}" 
					 th:if="${itemFicha.id} == ${ficha.itemExercicio1_id}"
					 th:value="${itemFicha.serie}" readOnly="true">
					  
					  Repeticao:
					  <input type="text" name="itemExercicio3" th:each="itemFicha : ${itensFicha}" 
					  th:if="${itemFicha.id} == ${ficha.itemExercicio1_id}"
					  th:value="${itemFicha.repeticao}" readOnly="true">
					  
					  Descanso:
					  <input type="text" name="itemExercicio3" th:each="itemFicha : ${itensFicha}" 
					  th:if="${itemFicha.id} == ${ficha.itemExercicio1_id}"
					  th:value="${itemFicha.descanso}" readOnly="true">
			</div>
  				
  			<div class="itens">
				Item 4:
				<input type="text" name="itemExercicio4" th:each="itemFicha : ${itensFicha}" 
					  th:if="${itemFicha.id} == ${ficha.itemExercicio4_id}"
					  th:value="'Exercício:' + ${itemFicha.exercicio_id}" readOnly="true">
									   
					 Series:
					 <input type="text" name="itemExercicio4" th:each="itemFicha : ${itensFicha}" 
					 th:if="${itemFicha.id} == ${ficha.itemExercicio4_id}"
					 th:value="${itemFicha.serie}" readOnly="true">
					  
					  Repeticao:
					  <input type="text" name="itemExercicio4" th:each="itemFicha : ${itensFicha}" 
					  th:if="${itemFicha.id} == ${ficha.itemExercicio4_id}"
					  th:value="${itemFicha.repeticao}" readOnly="true">
					  
					  Descanso:
					  <input type="text" name="itemExercicio4" th:each="itemFicha : ${itensFicha}" 
					  th:if="${itemFicha.id} == ${ficha.itemExercicio4_id}"
					  th:value="${itemFicha.descanso}" readOnly="true">
			</div>
  			
			<div class="options">
				<input type="button" value="Voltar" onClick="history.go(-1)">
			</div>
		</form>
	</body>
</html>