<html>
	<head>
	    <title>Inserir Modalidade</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<style>
			body{background-color: #fff8dc;margin: 0;}
			form{display: block; text-align: center; margin: 40px auto; width: 20%;} 
			form > input{display: block;width: 100%;margin: 8px 0;} 
			.options {text-align: center; margin: 15px 0; position: relative;}
			.options input {padding: 5px 20px;background: deepskyblue;border-radius: 15px;color: #fff;text-decoration: none;font-size: 20px;margin: 10px;display: inline-block;border: 0;}
		</style>
	</head>
	<body>
		<form action="/insertModalidade" method="POST" modelAttribute="modalidade">
		
  			Nome:
  			<input type="text" name="nome">
  			
  			Aerobico:
  			<input type="checkbox" name="aerobico" th:checked="${modalidade.aerobico} ? 'checked'">
  			
  			
  			<div class="options">
				<input type="submit" value="Inserir">
				<input type="button" value="Voltar" onClick="history.go(-1)">
			</div>
		</form>
	</body>
</html>