<html>
	<head>
	    <title>Inserir Professor</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<style>
			body{background-color: #fff8dc;margin: 0;}
			form{display: block; text-align: center; margin: 40px auto; width: 20%;} 
			form > input, form > select{display: block;width: 100%;margin: 8px 0;} 
			.options {text-align: center; margin: 15px 0; position: relative;}
			.options input {padding: 5px 20px;background: deepskyblue;border-radius: 15px;color: #fff;text-decoration: none;font-size: 20px;margin: 10px;display: inline-block;border: 0;}
		</style>
	</head>
	<body>
		<form  th:action="@{/insertProfessor}" method="POST" th:object="${professor}">
		
  			Nome:
  			<input type="text" th:field="*{nome}">
  			
  			CPF:
  			<input type="text"  th:field="*{cpf}">
  			
  			Idade:
  			<input type="text"  th:field="*{idade}">
  			
  			Modalidade:
    <select name="modalidade_id">
  				<option th:each="modalidade : ${modalidades}" th:value="${modalidade.id}" th:text="${modalidade.nome}"></option>
			</select>
			
		<div class="options">
			<input type="submit" value="Inserir">
			<input type="button" value="Voltar" onClick="history.go(-1)">
		</div>  
		</form>
	</body>
</html>